*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('img/background.svg');
    background-position: center;
    background-size: contain;
}
.canvas-asset{
    display: none;
}
.canvas-container{
    position: relative;
}
#canvas-game{
    box-shadow: 0 10px 131px 24px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0 10px 131px 24px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0 10px 131px 24px rgba(255, 255, 255, 0.75);
    opacity: 0;
    transform: scale(0);
    transition: 2s;
}
.control-window-container{
    opacity: 0;
    transform: scale(.5);
    transition: 1s;
}
.control-window-container,.winning-window-container,.play-game-container{
    display: none;
    position: absolute;
    z-index: 10;
    transition: 1s;
    top: 60%;
    left: 50%;
    transform: scale(.9) translate(-55%,-50%);
}
#close-button, #play-again-button,#play-game-button{
    position: absolute;
    right: .5em;
    top: .5em;
    cursor: pointer;
}
#play-again-button,#play-game-button{
    top: 55%;
    right: 50%;
    transform: translateX(50%);
}
#play-game-button{
    top: 40%;    
}
#close-button:hover{
    transform: scale(1.1);
    transition: .3s;
}
#play-again-button:hover,#play-game-button:hover{
    box-shadow: 0 0 13px 5px rgba(96, 53, 26, 0.75);
    transition: .3s;
}

@media all and (max-width: 1440px){
    .control-window-container,.winning-window-container,.play-game-container{
        transform: scale(.6) translate(-82.5%,-85%);
    }
}